<mapper namespace="inventory.mapper.InventoryMapper">

<select id="findSaleStore" parameterType="string" resultType="inventory.domain.SaleStore">
	/* InventoryMapper.xml inventory.mapper.InventoryMapper.findSaleStore baeukchoi 20240729 */
	<![CDATA[
		SELECT 	/*+ INDEX(S SALESTORE_PK) */
				S.SALESTR_NO				AS SALESTR_NO
		FROM 	STORE	 					S
		WHERE 	S.SALESTR_NO 				= #{salestrNo}
	]]>
</select>

<select id="findStoreItem" resultType="inventory.domain.StoreItem">
	/* InventoryMapper.xml inventory.mapper.InventoryMapper.findStoreItem baeukchoi 20240729 */
	<![CDATA[
		SELECT 	/*+ INDEX(SI STORE_ITEM_PK)*/
				SKU_CODE
		FROM 	STORE_ITEM		SI
		WHERE 	SALESTR_NO		= #{salestrNo}
		AND 	SKU_CODE 		= #{skuCode}
	]]>
</select>

<select id="getCurrentInventoryQuantity" resultType="java.lang.Integer">
	/* InventoryMapper.xml inventory.mapper.InventoryMapper.getCurrentInventoryQuantity baeukchoi 20240731 */
	<![CDATA[
		SELECT	NVL((
					SELECT	MV.INV_QTY + NVL(DI.TD_INV_QTY,0) AS INV_QTY
					FROM	MM_NOR_INV  	MV -- 월정상재고
						  , DD_VRB_INV  	DI -- 일변동재고
					WHERE	1				= 1
					AND		MV.INV_YM		= TO_CHAR(SYSDATE-1,'YYYYMMDD')
					AND		MV.SALESTR_NO	= #{salestrNo}
					AND		MV.SKU_CODE		= #{skuCode}
					AND		DI.INV_YM(+)	= MI.INV_YM
					AND		DI.INV_DT(+)	= TO_CHAR(SYSDATE,'YYYYMMDD')
					AND		DI.SALESTR_NO(+)= MV.SALESTR_NO
					AND		DI.SKU_CODE(+)	= MV.SKU_CODE
				),0) AS INV_QTY
		FROM	DUAL
	]]>
</select>

<select id="getPreventMinusQuantityByTypeCode" parameterType="string" resultType="string">
	/* InventoryMapper.xml inventory.mapper.InventoryMapper.getPreventMinusQuantityByTypeCode baeukchoi 20240731 */
	<![CDATA[
		SELECT	NVL((
					SELECT	'Y'
					FROM	COMM_CODE -- 코드유형관리 공통테이블
					WHERE	COMM_CODE_ID 	= 'P0001' -- 재고차감시 음수 방지 대상 차감유형코드만 INSERT
					AND		COMM_CODE_CD	= #{typeCode}
				),'N')
		FROM	DUAL
	]]>
</select>

<update id="callCommInv" statementType="CALLABLE" parameterType="inventory.domain.InventoryQuantity">
	/* InventoryMapper.xml inventory.mapper.InventoryMapper.callCommInv baeukchoi 20240729 */
	<![CDATA[
		{ CALL SP_COMM_INV(
				#{salestrNo}
			  , #{skuCode}
			  , #{typeCode}
			  , #{quantity}
			  , #{errNo:VARCHAR, mode=OUT}
			  , #{errMsg:VARCHAR, mode=OUT} 
	    ) }
    ]]>
</update>
</mapper>